* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html, body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

.overlay {
    display: none;
    background-color:rgb(0, 0, 0, 0.5) ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.overlay.active {
    display: flex;
}

.maingrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.navbar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    padding: 20px;
    
}

#nav-title {
    font-size: 7vh;
    color: rgb(134, 253, 150);
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(92, 92, 92);
    height: 100vh;
    align-items: center;
    padding-top: 20px;
}

#add-book {
    display: inline-block;
    background-color: rgb(134, 253, 150);
    border: none;
    padding: .5vw 3vw;
    text-align: center;
    font-size: 25px;
    color: black;
    border-radius: 5px;
    transition-duration: 0.1s;
}

#add-book:hover {
    background-color: rgb(91, 204, 91);
}

#add-book:active {
    
}

.add-book-popup {
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    
}


.form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 15px;
    background-color: rgb(99, 99, 99);
    border-radius: 15px;
    gap: 5px;
}

.read-checkbox {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 10px;

}

.form-container input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #747474;
    
}

.form-container input[type=text]:focus {
    background-color: #b8b5b5;
    outline: none;
}

.form-container .btn {
    background-color: rgb(134, 253, 150);
    color: rgb(0, 0, 0);
    padding: 16px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.library {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 30px;
    padding-top: 20px;
    padding-left: 30px;
    background-color:rgb(63, 63, 63)
}

#book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(134, 134, 134);
}

#book-title {
    font-size: 2vw;
    font-weight: 600;
}

#book-author {
    font-size: 1.5vw;
    font-weight: 400;
}

#book-pages {
    font-size: 1.3vw;
    font-weight: 400;
}

#book-read {
    font-size: 1.3vw;
    font-weight: 400;
}
