* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

.maingrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.navbar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    padding: 20px;
    
}

#nav-title {
    font-size: 7vh;
    color: rgb(134, 253, 150);
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(92, 92, 92);
    min-height: 100vh;
    align-items: center;
    padding-top: 20px;
}

#add-book {
    display: inline-block;
    background-color: rgb(85, 185, 85);
    border: 0.1em solid #000000;
    padding: .5vw 3vw;
    text-align: center;
    font-size: 1.3vw;
    color: black;
    border-radius: 2px;
    transition-duration: 0.1s;
}

#add-book:hover {
    background-color: rgb(91, 204, 91);
}

#add-book:active {
    
}

.library {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 30px;
    padding-top: 20px;
    padding-left: 30px;
    background-color:rgb(63, 63, 63)
}

#book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(134, 134, 134);
}

#book-title {
    font-size: 2vw;
    font-weight: 600;
}

#book-author {
    font-size: 1.5vw;
    font-weight: 400;
}

#book-pages {
    font-size: 1.3vw;
    font-weight: 400;
}

#book-read {
    font-size: 1.3vw;
    font-weight: 400;
}